<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE)</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>(isSystemApplication = TRUE)</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.decaro.forcestatusbar/updateApps</string>
			<key>ALSettingsKeyPrefix</key>
			<string>FSB-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.decaro.forcestatusbar_apps.plist</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Selected Apps</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Force Status Bar</string>
</dict>
</plist>
