Package: com.decaro.forcestatusbar
Name: Force Status Bar
Depends: mobilesubstrate, preferenceloader, applist (>= 1.3), firmware (>= 5.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Force an application to display the status bar.
Maintainer: Mike DeCaro
Author: Mike DeCaro
Section: Tweaks
